body
{
background-image: linear-gradient(to right top, #6302ff, #f701ff, #6f18c1, #4f0aaa, #6a0094);
}

.heading{
    font-style: oblique;
    font-size: 23px;
    width: 100%;

}
#cam{
    width: 300px;
    height: 350px;
    border-radius: 20px;
}
.name_of_objects{
    font-style:italic ;
    color: white;
}
#result_object_name,#result_object_accuracy{
    font-size: 20px;
    color: rgb(255, 255, 255);
}